@media (min-width: 1200px){
    .container{
        width:100% !important;
    }  
    
    .custom-row{
        margin-right: -3.75rem;
    }
}

thead th, td{
    font-size: 11px;
}

.form-control{
    height: 33px !important;
}

.table th, .table td {
  padding: 4px 6px 6px 5px;
}

/************************************************************
CARD STYLES
************************************************************/

.card{
    border-radius: 0px !important;
    font-size:11px;
    line-height:15px;
    margin:10px 10px;
}

.card-body{
    padding:5px !important;
}

.card-title{
    font-size: 15px !important; 
    margin-bottom:1rem !important;
}

.card-subtitle{
    font-size: 12px !important;
}


/************************************************************
Background STYLES
************************************************************/

.bg-gold{
    background-color: #ffcc00;
    color: #000000;
}

.bg-gold .card-subtitle{
    color: #000000;
}

.bg-gold .text-muted{
    color:#000000 !important;
}

.bg-green{
    background-color: #72ec50;
    color: #000000;
}

.bg-green .card-subtitle{
    color: #000000;
}

.bg-green .text-muted{
    color:#000000 !important;
}

.bg-blue{
    background-color: #7571f9;
    color:#000000;
}

.bg-blue .card-title{
    color:#FFFFFF;
}

.bg-blue .card-subtitle{
    color: #FFFFFF;
}

.bg-blue .text-muted{
    color:#FFFFFF !important;
}

/********************************************************
GLOSSY BUTTONS
********************************************************/

a.button{
    color:#FFFFFF;
}

.button {
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    min-width: 96px;
    line-height: 36px;
    padding: 0 24px;
    font-size: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    background-clip: padding-box;
    border: 1px solid;
    border-radius: 0px !important;
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  }
  
  .button:before {
    content: '';
    position: absolute;
    top: -25%;
    bottom: -25%;
    left: -20%;
    right: -20%;
    border-radius: 50%;
    background: transparent;
    -webkit-box-shadow: inset 0 0 38px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 0 38px rgba(255, 255, 255, 0.5);
  }
  
  .button:active {
    color: #FFFFFF;
    text-shadow: 0 -1px #FFFFFF;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.4);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.4);
  }
  
  .button:active:before {
    top: -50%;
    bottom: -125%;
    left: -15%;
    right: -15%;
    -webkit-box-shadow: inset 0 0 96px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 96px rgba(0, 0, 0, 0.2);
  }
  
  .button-blue {
    color: #FFFFFF;
    background-color: #0580ff;
    border-color: #070e17 #081a3a #0a1709;
  }
  
  .button-blue:hover { background-color: #4557f1; }
  
  .button-blue:active {
    background: #4557f1;
    border-color: #093606 #0d4d09 #4557f1;
    background-image: -webkit-linear-gradient(top, #5525c5, #226ddd);
    background-image: -moz-linear-gradient(top, #5525c5, #226ddd);
    background-image: -o-linear-gradient(top, #5525c5, #226ddd);
    background-image: linear-gradient(to bottom, #5525c5, #226ddd);
  }
  
  .button-green {
    background-color: #1ca913;
    border-color: #147b0e #11640b #11640b;
  }
  
  .button-green:hover { background-color: #159b0d; }
  
  .button-green:active {
    background: #189210;
    border-color: #093606 #0d4d09 #147b0e;
    background-image: -webkit-linear-gradient(top, #126d0c, #20c016);
    background-image: -moz-linear-gradient(top, #126d0c, #20c016);
    background-image: -o-linear-gradient(top, #126d0c, #20c016);
    background-image: linear-gradient(to bottom, #126d0c, #20c016);
  }
  
  .button-red {
    background-color: #ff0000;
    border-color: #9f1713 #891310 #891310;
  }
  
  .button-red:hover { background-color: #c01511; }
  
  .button-red:active {
    background: #ff0000;
    border-color: #5b0d0b #72100d #9f1713;
    background-image: -webkit-linear-gradient(top, #921511, #e4201b);
    background-image: -moz-linear-gradient(top, #921511, #e4201b);
    background-image: -o-linear-gradient(top, #921511, #e4201b);
    background-image: linear-gradient(to bottom, #921511, #e4201b);
  }

  .button-orange {
    background-color: #ff6600;
    border-color: #e75d0d #ff6600 #e75d0d;
  }
  
  
  .button-orange:hover { background-color: #e75d0d; }
  
  .button-orange:active {
    background: #ff6600;
    border-color: #093606 #0d4d09 #ee7809;
    background-image: -webkit-linear-gradient(top, #eb5f1e, #f8570c);
    background-image: -moz-linear-gradient(top, #eb5f1e, #f8570c);
    background-image: -o-linear-gradient(top, #eb5f1e, #f8570c);
    background-image: linear-gradient(to bottom, #eb5f1e, #f8570c);
  }

  .button-black{
    background-color: #000000;
  }
  

.btn{
  border-radius:0px !important;
  border:1px solid #000000;
}

.btn i{color:#000000;}
.btn:hover i{color:#FFFFFF;}

.btn:hover{color:#FFFFFF;}

/********************************************************
FONT STYLES
********************************************************/
.font-bold{font-weight:bold;}

.font-white{color:#FFFFFF;}
.font-black{color: #000000;}

/*****************************************************/

input[type="checkbox"]:after{
  border: 1px solid #ced4da !important;
}


/*****************************************************/

.hide-row{
  display: none !important;
}

.show-row{
  display: table-row !important;
}

/******************************************************/

.loader-custom {
  margin-left:37%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/**/

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #FF0000;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #FF0000;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}
.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 29;
  stroke-dashoffset: 29;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #FF0000;
  }
}