@media (min-width: 1200px){
    .container{
        width:100% !important;
    }  
    
    .custom-row{
        margin-right: -3.75rem;
    }
}


thead th, td{
    font-size: 11px;
}

.card{
    border-radius: 0px !important;
    font-size:11px;
    padding:5px !important;
    line-height:15px;
}

.card-body{
    padding:5px !important;
}

hr{
    /*border:2px solid #000000;*/
}

button.btn{
    border-radius:0px;
    border:1px solid #000000;
}


a.btn{
    border-radius:0px;
    border:1px solid #000000;
}