{% load static %}

<div class="nk-sidebar">           
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="{% url 'dashboard' %}">
                    <i class="fas fas-fw fa-tachometer-alt menu-icon"></i><span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="{% url 'contacts' %}">
                    <i class="fas fas-fw fa-phone-alt menu-icon"></i><span class="nav-text">Contacts</span>
                </a>
            </li>
            <li>
                <a href="{% url 'contacts' %}">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Invoice</span>
                </a>
            </li>

        </ul>
    </div>
</div>